In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
house_data = pd.read_csv('AmesTrain20.csv')

In [2]:
house_data.head()

,Order,Price,LotFrontage,LotArea,LotConfig,HouseStyle,Quality,Condition,YearBuilt,YearRemodel,...,Fireplaces,GarageType,GarageCars,GarageSF,GarageQ,GarageC,WoodDeckSF,OpenPorchSF,EnclosedPorchSF,ScreenPorchSF
0,972,162.000,32,4500,FR2,1Story,6,5,1998,1998,...,0,Attchd,2,412,TA,TA,0,247,0,0
1,1345,162.900,52,6240,Inside,1.5Fin,5,7,1930,1992,...,1,Detchd,2,360,TA,TA,0,0,0,0
2,2022,200.000,47,7755,Inside,2Story,6,8,1918,1995,...,0,Detchd,1,408,TA,TA,0,152,0,0
3,522,370.878,85,9187,Inside,1Story,9,5,2009,2009,...,1,Attchd,3,478,TA,TA,195,130,0,0
4,1257,140.000,60,10930,Inside,1.5Fin,5,6,1945,1950,...,1,Attchd,1,288,TA,TA,0,0,0,0

In [3]:
house_data

,Order,Price,LotFrontage,LotArea,LotConfig,HouseStyle,Quality,Condition,YearBuilt,YearRemodel,...,Fireplaces,GarageType,GarageCars,GarageSF,GarageQ,GarageC,WoodDeckSF,OpenPorchSF,EnclosedPorchSF,ScreenPorchSF
0,972,162.000,32,4500,FR2,1Story,6,5,1998,1998,...,0,Attchd,2,412,TA,TA,0,247,0,0
1,1345,162.900,52,6240,Inside,1.5Fin,5,7,1930,1992,...,1,Detchd,2,360,TA,TA,0,0,0,0
2,2022,200.000,47,7755,Inside,2Story,6,8,1918,1995,...,0,Detchd,1,408,TA,TA,0,152,0,0
3,522,370.878,85,9187,Inside,1Story,9,5,2009,2009,...,1,Attchd,3,478,TA,TA,195,130,0,0
4,1257,140.000,60,10930,Inside,1.5Fin,5,6,1945,1950,...,1,Attchd,1,288,TA,TA,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,798,105.000,60,9060,Inside,1.5Fin,6,5,1939,1950,...,0,Detchd,1,280,TA,TA,0,0,0,0
596,2672,140.200,65,6435,Inside,1.5Fin,6,5,1939,1950,...,1,Detchd,1,312,TA,TA,0,0,0,0
597,2192,125.000,60,8172,Inside,1Story,4,5,1955,1955,...,1,Detchd,1,355,TA,TA,0,0,196,0
598,57,185.088,63,8577,Inside,2Story,7,5,2004,2004,...,1,BuiltIn,2,433,TA,TA,144,48,0,0
599,61,355.000,60,17433,CulDSac,2Story,8,5,1998,1998,...,1,Attchd,3,962,TA,TA,23,172,0,256

In [4]:
train = house_data[0:450].dropna(axis=0)
train

,Order,Price,LotFrontage,LotArea,LotConfig,HouseStyle,Quality,Condition,YearBuilt,YearRemodel,...,Fireplaces,GarageType,GarageCars,GarageSF,GarageQ,GarageC,WoodDeckSF,OpenPorchSF,EnclosedPorchSF,ScreenPorchSF
0,972,162.000,32,4500,FR2,1Story,6,5,1998,1998,...,0,Attchd,2,412,TA,TA,0,247,0,0
1,1345,162.900,52,6240,Inside,1.5Fin,5,7,1930,1992,...,1,Detchd,2,360,TA,TA,0,0,0,0
2,2022,200.000,47,7755,Inside,2Story,6,8,1918,1995,...,0,Detchd,1,408,TA,TA,0,152,0,0
3,522,370.878,85,9187,Inside,1Story,9,5,2009,2009,...,1,Attchd,3,478,TA,TA,195,130,0,0
4,1257,140.000,60,10930,Inside,1.5Fin,5,6,1945,1950,...,1,Attchd,1,288,TA,TA,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,1346,150.000,52,6240,Inside,1.5Fin,7,5,1939,1950,...,1,Detchd,2,400,TA,TA,0,20,0,0
446,1091,213.000,0,8396,Inside,2Story,7,5,2003,2003,...,1,BuiltIn,2,434,TA,TA,120,48,0,0
447,2348,241.500,80,10400,Inside,1Story,7,5,1988,1988,...,1,Attchd,2,604,TA,TA,197,39,0,0
448,2249,156.000,0,7540,CulDSac,SFoyer,6,6,1978,1978,...,1,Attchd,2,470,TA,TA,0,0,0,192
449,1106,350.000,91,10437,Inside,1Story,8,6,1995,1995,...,1,Attchd,3,839,TA,TA,236,46,0,0

In [5]:
test = house_data[451:]
test

,Order,Price,LotFrontage,LotArea,LotConfig,HouseStyle,Quality,Condition,YearBuilt,YearRemodel,...,Fireplaces,GarageType,GarageCars,GarageSF,GarageQ,GarageC,WoodDeckSF,OpenPorchSF,EnclosedPorchSF,ScreenPorchSF
451,152,119.000,70,13587,Inside,1Story,5,5,1958,1958,...,0,Attchd,1,264,TA,TA,0,0,0,0
452,1172,328.900,50,5119,CulDSac,1Story,9,5,1999,2000,...,1,Attchd,2,506,TA,TA,97,65,0,0
453,412,123.000,24,2280,FR2,1Story,7,5,1975,1975,...,1,Attchd,2,440,TA,TA,0,27,0,0
454,463,173.000,48,3480,Inside,1Story,7,5,2003,2003,...,1,Attchd,2,478,TA,TA,148,36,0,0
455,723,85.000,60,7200,Inside,1Story,5,4,1910,2006,...,0,Detchd,1,280,TA,TA,0,30,226,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,798,105.000,60,9060,Inside,1.5Fin,6,5,1939,1950,...,0,Detchd,1,280,TA,TA,0,0,0,0
596,2672,140.200,65,6435,Inside,1.5Fin,6,5,1939,1950,...,1,Detchd,1,312,TA,TA,0,0,0,0
597,2192,125.000,60,8172,Inside,1Story,4,5,1955,1955,...,1,Detchd,1,355,TA,TA,0,0,196,0
598,57,185.088,63,8577,Inside,2Story,7,5,2004,2004,...,1,BuiltIn,2,433,TA,TA,144,48,0,0
599,61,355.000,60,17433,CulDSac,2Story,8,5,1998,1998,...,1,Attchd,3,962,TA,TA,23,172,0,256

In [6]:
target = train['Price']
target

0      162.000
1      162.900
2      200.000
3      370.878
4      140.000
        ...
445    150.000
446    213.000
447    241.500
448    156.000
449    350.000
Name: Price, Length: 450, dtype: float64

In [7]:
features = ["LotFrontage", "LotArea", "FirstSF", "SecondSF", "GroundSF", "TotalRooms", "GarageCars"]

In [8]:
X = pd.get_dummies(train[features])
X.describe()

,LotFrontage,LotArea,FirstSF,SecondSF,GroundSF,TotalRooms,GarageCars
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,57.811111,10481.913333,1164.791111,369.337778,1537.988889,6.564444,1.824444
std,32.361989,8681.375425,365.125443,449.529139,482.783575,1.488360,0.765531
min,0.000000,1476.000000,483.000000,0.000000,498.000000,3.000000,0.000000
25%,44.000000,7716.500000,882.500000,0.000000,1201.000000,6.000000,1.000000
50%,63.500000,9600.000000,1103.000000,0.000000,1494.000000,6.000000,2.000000
75%,78.000000,11757.250000,1419.000000,737.500000,1789.000000,7.750000,2.000000
max,150.000000,159000.000000,2362.000000,1818.000000,3493.000000,11.000000,4.000000

In [9]:
X_test = pd.get_dummies(test[features])
X_test

     LotFrontage  LotArea  FirstSF  SecondSF  GroundSF  TotalRooms  GarageCars
451           70    13587      988         0       988           5           1
452           50     5119     1709         0      1709           5           2
453           24     2280     1055         0      1055           4           2
454           48     3480     1405         0      1405           6           2
455           60     7200     1022         0      1022           4           1
..           ...      ...      ...       ...       ...         ...         ...
595           60     9060      698       560      1258           6           1
596           65     6435      972       605      1577           6           1
597           60     8172      768         0       768           4           1
598           63     8577      847       886      1733           7           2
599           60    17433     1645       830      2475           7           3

[149 rows x 7 columns]

In [10]:
model = DecisionTreeRegressor()

In [11]:
model.fit(X, target)
predictions = model.predict(X_test)

In [12]:
X_test

     LotFrontage  LotArea  FirstSF  SecondSF  GroundSF  TotalRooms  GarageCars
451           70    13587      988         0       988           5           1
452           50     5119     1709         0      1709           5           2
453           24     2280     1055         0      1055           4           2
454           48     3480     1405         0      1405           6           2
455           60     7200     1022         0      1022           4           1
..           ...      ...      ...       ...       ...         ...         ...
595           60     9060      698       560      1258           6           1
596           65     6435      972       605      1577           6           1
597           60     8172      768         0       768           4           1
598           63     8577      847       886      1733           7           2
599           60    17433     1645       830      2475           7           3

[149 rows x 7 columns]

In [13]:
predictions

array([144.   , 127.5  , 146.3  , 162.9  , 139.4  , 277.   , 152.   ,
       163.   , 138.   ,  80.4  , 169.   , 279.9  , 124.5  ,  83.   ,
       193.   , 185.   , 155.   , 143.5  , 143.   , 146.3  , 109.5  ,
       176.5  , 380.   , 115.   , 108.   , 100.   , 152.   , 180.   ,
        99.9  , 202.5  , 241.6  , 215.   , 185.   , 149.   , 147.5  ,
       174.   , 169.   , 339.75 , 136.   , 108.   , 129.85 , 168.5  ,
        80.4  , 131.   , 171.5  , 277.   , 260.   , 155.   ,  70.   ,
       141.   , 254.   , 124.   , 114.   , 255.   , 145.   ,  80.   ,
       187.5  , 159.5  , 114.5  , 127.5  , 159.   , 169.   , 181.9  ,
       128.6  ,  80.4  , 318.   , 125.   , 220.   , 125.   , 232.698,
       286.5  , 139.   , 279.9  ,  85.   , 133.5  , 143.   , 197.6  ,
       173.5  ,  60.   , 137.   , 109.9  , 150.   , 176.   , 100.   ,
       208.9  , 169.   , 152.   , 209.   , 129.85 , 215.   , 155.   ,
       115.   , 120.5  , 380.   , 168.   , 143.5  , 293.2  , 146.3  ,
       143.   , 190.   , 248.5  , 147.5  , 165.   , 109.5  , 292.5  ,
       132.   , 277.   , 144.   , 209.   ,  85.   , 106.5  , 112.5  ,
       225.   , 210.   , 162.9  , 148.   , 136.5  , 225.   , 261.5  ,
       208.9  , 318.   , 208.9  , 159.   , 340.   , 133.5  , 339.75 ,
       141.   , 115.   ,  60.   , 168.   , 145.   , 173.   , 145.   ,
        35.   , 109.9  , 314.813, 150.   , 155.   , 155.   , 133.5  ,
       293.2  , 115.   , 129.85 , 232.   , 114.   , 141.   , 109.5  ,
       200.   , 290.   ])

In [14]:
test['Price']

451    119.000
452    328.900
453    123.000
454    173.000
455     85.000
        ...
595    105.000
596    140.200
597    125.000
598    185.088
599    355.000
Name: Price, Length: 149, dtype: float64

In [15]:
print("making predictions for these 5 houses:")
print(X.head())
print("The predictions are")
print(model.predict(X.head()))

making predictions for these 5 houses:
   LotFrontage  LotArea  FirstSF  SecondSF  GroundSF  TotalRooms  GarageCars
0           32     4500     1204         0      1204           5           2
1           52     6240     1128       445      1573           8           2
2           47     7755     1100      1164      2264           8           1
3           85     9187     1766         0      1766           7           3
4           60    10930     1048       510      1558           6           1
The predictions are
[162.    162.9   200.    370.878 140.   ]

In [16]:
train.head()

,Order,Price,LotFrontage,LotArea,LotConfig,HouseStyle,Quality,Condition,YearBuilt,YearRemodel,...,Fireplaces,GarageType,GarageCars,GarageSF,GarageQ,GarageC,WoodDeckSF,OpenPorchSF,EnclosedPorchSF,ScreenPorchSF
0,972,162.000,32,4500,FR2,1Story,6,5,1998,1998,...,0,Attchd,2,412,TA,TA,0,247,0,0
1,1345,162.900,52,6240,Inside,1.5Fin,5,7,1930,1992,...,1,Detchd,2,360,TA,TA,0,0,0,0
2,2022,200.000,47,7755,Inside,2Story,6,8,1918,1995,...,0,Detchd,1,408,TA,TA,0,152,0,0
3,522,370.878,85,9187,Inside,1Story,9,5,2009,2009,...,1,Attchd,3,478,TA,TA,195,130,0,0
4,1257,140.000,60,10930,Inside,1.5Fin,5,6,1945,1950,...,1,Attchd,1,288,TA,TA,0,0,0,0

In [17]:
from sklearn.metrics import mean_absolute_error
predicted_home_prices = model.predict(X)
print(mean_absolute_error(target, predicted_home_prices))

0.008333333333333333

In [18]:
#0.008333333333333333 this numbers means that the in-sample predictions are so good that"
#the model can predict within 8 dollars of the true price. This is very much due to in-sampling"

In [19]:
#If the model is used to make predictions on the same data it has been trained on, it is called in-sample."
# This should never be done. It is not useful"

In [20]:
#This a method to determine model accuracy"
validation_predictions = model.predict(X_test)
validation_price = test["Price"]
print(mean_absolute_error(validation_predictions, validation_price))

35.80563087248323

In [21]:
X = house_data[features]
y = house_data['Price']

In [22]:
# This is the proper way to make a validation set with equal distributions as your training set
from sklearn.model_selection import train_test_split
# Split data into training and validation data , for both features and target
# The split is based on a random number generator. Supplying  numeric value to
# the random_state argument guarantees we get the same split every single time we
# run this script
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0, test_size = 0.1)

#y is synonymous with the targets

#Define Model
#house_model = DecisionTreeRegressor()
#fit model
#house_model.fit(train_X, train_y)

#Get predicted prices on validation data
#val_predictions = house_model.predict(val_X)
#print(mean_absolute_error(val_y, validation_predictions))

In [23]:
train_X

     LotFrontage  LotArea  FirstSF  SecondSF  GroundSF  TotalRooms  GarageCars
481          137    16492     1888         0      1888           6           2
62             0    13006      993      1243      2236           8           2
271           75    10170     1575         0      1575           5           2
342           21     1890      494       536      1030           6           1
560           94     9400      912       912      1824           8           0
..           ...      ...      ...       ...       ...         ...         ...
277            0     8926      960         0       960           5           1
9              0    15870     1096         0      1096           6           1
359           60     5520      565       651      1216           6           1
192           63     9729      698      1048      1746           6           3
559           80     9600     1644         0      1644           7           2

[540 rows x 7 columns]

In [24]:
val_X

     LotFrontage  LotArea  FirstSF  SecondSF  GroundSF  TotalRooms  GarageCars
434           47    10820      988       885      1873           7           2
122           81    10530     1109       766      1875           8           2
224           33     5976      624       624      1248           8           0
479           46     3672      816         0       816           5           1
205           65     7150      892         0       892           5           1
569            0    11250      944       926      1870           6           2
432            0     8970      825      1315      2140           7           2
526           60     8250     1053         0      1053           6           2
439           86     5160      892         0       892           5           0
162           65     8450      890         0       890           5           1
315           73     8899     1340         0      1340           6           2
400           80    11040     1258         0      1258           5           2
173            0    11800     1146      1340      2486          10           2
283           98    12328     1164      1377      2541          10           3
48             0    22002     1652         0      1652           6           2
457           72     8640     1372         0      1372           6           2
482           63    11426     1362       720      2082           6           2
85            70     7703      833       897      1730           6           2
187           50     8405     1088       441      1529           9           1
365            0     2117      756       756      1512           4           2
524           93    10090     1035       616      1651           6           1
480           75    12890     1495         0      1495           8           2
346            0    11000      997      1288      2285           8           3
194           71    12209      804      1157      1961           7           2
477           80     9760     1395         0      1395           7           2
186           87    11029     1414         0      1414           6           2
299           96    10628      871       941      1812           8           2
495           44     7390     1884         0      1884           6           2
446            0     8396      847      1139      1986           9           2
594            0     8917     1584         0      1584           8           2
348           65     7150      912         0       912           6           1
499           40     3880      866         0       866           4           0
366           95    14250     1790         0      1790           6           2
14            64     7697     1258         0      1258           6           2
127           60     7038      864         0       864           5           2
580           61    10125      846       748      1594           7           2
92            79    14463     1641         0      1641           7           3
333           62     7130      864         0       864           5           1
200           56    14720     2053      1185      3238           9           3
1             52     6240     1128       445      1573           8           2
343           50     7288      936       665      1601           6           0
312           65    10237      768       768      1536           6           2
320          115    10500     1292         0      1292           6           2
190           34     4590     1554         0      1554           6           2
239            0     9500     1394         0      1394           6           2
52            75     8604      941         0       941           4           2
354           77     9278     1092         0      1092           5           0
8             57     7449     1108         0      1108           6           1
427            0    11000     1533       639      2172           8           3
355           60    10200      672         0       672           4           1
17            98    11478     1704         0      1704           7           3
231           74     8834     1462       762      2224          10           3
21            85    11447     1964         0      1964           7           3
103           92    11764     1164      1106      2270           9           3
245           59    10936     1525         0      1525           6           2
384           60     6600      864         0       864           5           1
266           98     8820     1188       561      1869           7           2
181           65     8767     1310         0      1310           6           2
525           75    13710      910       648      1558           6           1
484           37     4435      848         0       848           3           2

In [25]:
train_y

481    190.000
62     222.000
271    155.000
342    116.000
560    139.000
        ...
277    112.000
9      138.800
359    115.000
192    198.444
559    167.000
Name: Price, Length: 540, dtype: float64

In [26]:
val_y

434    235.500
122    184.500
224     93.500
479     75.200
205    100.000
569    211.000
432    177.500
526    142.100
439     70.000
162    115.000
315    181.134
400    145.000
173    279.900
283    349.265
48     200.000
457    250.580
482    200.000
85     171.500
187     98.000
365    168.500
524    172.000
480    150.000
346    248.000
194    215.000
477    192.000
186    176.500
299    193.000
495    320.000
446    213.000
594    119.000
348    123.000
499    110.500
366    180.000
14     173.500
127     76.500
580    195.500
92     316.500
333    130.000
200    410.000
1      162.900
343    129.850
312    176.000
320    145.100
190    209.500
239    159.000
52     145.000
354    146.000
8      139.400
427    291.000
355    108.000
17     306.000
231    350.000
21     370.000
103    290.000
245    206.580
384    125.500
266    124.900
181    164.990
525    152.000
484    155.900
Name: Price, dtype: float64

In [32]:
#Define Model
house_model = DecisionTreeRegressor(max_depth = 50)
#fit model
house_model.fit(train_X, train_y)

#Get predicted prices on validation data
val_predictions = house_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

34.44716666666666

In [33]:
#the model can predict within 33.2000 dollars of the true price'

In [34]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes = max_leaf_nodes, random_state = 0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return mae

In [35]:
for max_leaf_nodes in [5, 10, 25, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: 31
Max leaf nodes: 10 		 Mean Absolute Error: 25
Max leaf nodes: 25 		 Mean Absolute Error: 28
Max leaf nodes: 50 		 Mean Absolute Error: 27
Max leaf nodes: 500 		 Mean Absolute Error: 31
Max leaf nodes: 5000 		 Mean Absolute Error: 31

In [36]:
score = -1 * cross_val_score(house_model, X, y, cv=5, scoring='neg_mean_absolute_error')
print('MAE scores:\n', score)

MAE scores:
 [38.07223333 32.77730833 38.28276667 40.38424167 38.110675  ]

In [37]:
print('Average MAE score (across experimennts):')
print(score.mean())

Average MAE score (across experimennts):
37.525445000000005